projectDesc/projectDesc.aux
projectDesc/projectDesc.bbl
projectDesc/projectDesc.blg
projectDesc/projectDesc-blx.bib
projectDesc/projectDesc.log
projectDesc/projectDesc.out
projectDesc/projectDesc.run.xml
